<!DOCTYPE html>
<html>

<head>
  <title>Tiny Survey Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
</head>

<body>
  <div class="container">
    <h1 class="mb-3 mt-3">&#10068; Tiny Survey</h1>
  <h2 class="mb-10 mt-2">
    <%=topic%>
  </h2>
  <% options.forEach(option=> { %>
    <p>
      <%= option.text%> : <%= option.count %>
    </p>
    <% }) %>
      <p>
        <button class="btn btn-primary mt-1" onclick="window.location.href='/displayresults/<%=topic%>'"> Reload
        </button>
      </p>
      </form>
      <p>
        Click Reload to update the counts.
      </p>
  </div>
</body>

</html>